{% extends 'includes/layout.html' %}




{% block body %}
<main class="container">
  <div class="bg-light p-5 rounded mt-5">
    <h1>Auto Assessment with ChatGPT </h1>
    <p class="lead">This example was created to showcase the application of ChatGPT for auto assessment purposes. It utilizes the power of ChatGPT, an AI language model developed by OpenAI.</p>
    <p class="lead">You can use this auto assessment system to evaluate responses, test knowledge, and provide feedback. Simply engage in a conversation with ChatGPT and assess the generated responses based on your criteria.</p>
</div>


  <div class="p-5 rounded mt-1">
    <div class="row">


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Technology
          </div>
          <div class="card-body">
            <h5 class="card-title">  Technology ️</h5>
            <a href="/Technologie" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Methodology
          </div>
          <div class="card-body">
            <h5 class="card-title">  Methodologie </h5>
            <a href="/Methodology" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Ownership
          </div>
          <div class="card-body">
            <h5 class="card-title">  Ownership  </h5>
            <a href="/Ownership" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Communication
          </div>
          <div class="card-body">
            <h5 class="card-title">  Communication  </h5>
            <a href="/Communication" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            BrandEvangelism
          </div>
          <div class="card-body">
            <h5 class="card-title">  BrandEvangelism   </h5>
            <a href="/BrandEvangelism" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->

      


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Management
          </div>
          <div class="card-body">
            <h5 class="card-title">  management  </h5>
            <a href="/Management" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->

      <!-- New Card Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Business
          </div>
          <div class="card-body">
            <h5 class="card-title"> Business  </h5>
            <a href="/Process" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- New Card Ends here -->

  

      <!-- New Card Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Recruiting
          </div>
          <div class="card-body">
            <h5 class="card-title">  Enhance Recruiting  </h5>
            <a href="/Recruitment" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- New Card Ends here -->

      <!-- New Card Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Community
          </div>
          <div class="card-body">
            <h5 class="card-title">  Build Community  </h5>
            <a href="/Community" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- New Card Ends here -->
 <!-- New Card Starts Here -->
 <div class="col-lg-3 mb-3">
  <div class="card">
    <div class="card-header">
      Mentorship
    </div>
    <div class="card-body">
      <h5 class="card-title">  Mentorship  </h5>
      <a href="/Mentorship" class="btn btn-primary">Get Started</a>
    </div>
  </div>
</div>
<!-- New Card Ends here -->
      

      <!-- New Card Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Membership
          </div>
          <div class="card-body">
            <h5 class="card-title">  Membership  </h5>

            <a href="/Membership" class="btn btn-primary  ">Get Started</a>
          </div>
        </div>
      </div>
      <!-- New Card Ends here -->
   <!-- New Card Starts Here -->
   <div class="col-lg-3 mb-3">
    <div class="card">
      <div class="card-header">
        Process
      </div>
      <div class="card-body">
        <h5 class="card-title">  Process  </h5>

        <a href="/Process" class="btn btn-primary  ">Get Started</a>
      </div>
    </div>
  </div>
  <!-- New Card Ends here -->
    </div>
  </div>
</main>
{% endblock %}
